
@import 'Workshop/scss/settings/variables';
@import 'Workshop/scss/settings/mixins';


.header{
  width: 100%;
  display: flex;
  justify-content: center;
  background: $color-white 0 0% no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  position: fixed;
  z-index: 500;
  height: 70px;

  .header__blanket{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo {
      @include logo-main;
    }

    .menu-desktop {
      height: 100%;
      display: flex;
      @include tablet{
        display: none;
      }
      @include mobile{
        display: none;
      }

    }
  }
}

.menu{
  display: flex;
  justify-content: space-around;
  font: normal normal bold 11px/15px $font-main-opensans;
  letter-spacing: 3.28px;
  color: $color-grey;
  text-transform: uppercase;
  height: 100%;
  .menu__items{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0 26px;
    @include mobile{
      padding: 0;
    }
    @include tablet{
      padding: 0;
    }
    a {
      text-decoration: none;
      text-underline: none;
      color: $color-grey;
      height: 100%;
      @include desktop {
        padding: 28px 18px 22px;
      }
    }
    a:hover{
      color: $color-black;
      border-bottom: 4px solid $color-primary;
      text-decoration: none;
    }
  }
}


.menu-mobile {
  @include desktop {
    display: none;
  }
  @include mobile {
    height: 200px;
    width: 100%;
    left: 0;
    top: 70px;
    position: absolute;
    flex-direction: column;
    .menu-checked {
      display: none;
      flex-direction: column;
      box-shadow: 1px 3px 6px #00000029, 1px 3px 6px #00000029 inset;
    }
    .menu__checkbox {
      position: absolute;
      top: -25px;
      right: 30px;
      opacity: 0;
    }
    .menu__toggle {
      position: absolute;
      display: block;
      top: -45px;
      right: 30px;
      width: 20px;
      height: 20px;
      .nav-mobile-hamburger {
        background-image: url("../img/bars-solid.svg");
        display: flex;
        width: 20px;
        height: 24px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
    .menu__links {
      display: block;
      border: none;
      padding: 10px 20px;
    }
    .menu__checkbox:checked {
      ~ .menu-checked {
        display: flex;
        background-color: $color-white;
        padding: 20px 0 15px 0;
      }
      ~ label .nav-mobile-hamburger {
        display: flex;
        width: 20px;
        background: no-repeat url("../img/x-solid.svg");
        height: 24px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}