
@import 'Workshop/scss/settings/variables';
@import 'Workshop/scss/settings/mixins';


.pricing{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @include tablet{
    margin-top: 100px;
  }
  @include mobile {
    margin-top: 100px;
  }
}

.pricing__boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include tablet{
    flex-direction: column;
    gap: 40px;

  }
  @include mobile{
    flex-direction: column;
    gap: 50px;

  }
}

.pricing__box{
  display: flex;
  justify-content: center;
  height: 460px;
  flex-direction: column;
  align-items: center;
  width: 30%;
  @include tablet{
    flex-direction: row;
  }
  @include mobile{
    flex-direction: row;
  }
}

.pricing .heading2{
  @include h2-main;
  margin-bottom: 20px;
  margin-top: 100px;
  @include mobile{
    margin-top: 50px;
  }
}

.heading3{
  @include h3-main;
  margin-bottom: 14px;
}

.count__details{
  text-align: center;
  font: normal normal normal 14px/41px $font-main-opensans;
  letter-spacing: 0px;
  color: #000000;
  display: flex;
  flex-direction: column;
  padding-bottom: 26px;
  @include tablet {
    text-align: left;
    padding-left: 5px;
  }
  @include mobile {
    text-align: left;
    padding-left: 5px;
    font-size: 10px;
  }
}

.limited{
  text-align: left;
  font: normal normal bold 12px/1px $font-main-raleway;
  letter-spacing: 0px;
  color: #13253B;
  line-height: 14px;
}

.button__begin{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EB476E 0% 0% no-repeat padding-box;
  border-radius: 23px;
  text-decoration: none;
  width: 150px;
  height: 50px;
  border: none;
}

/* 04 --- first frame - basic */

.pricing__first-box .count{
  text-align: left;
  font: normal normal 300 46px/2px $font-main-opensans;
  letter-spacing: 0px;
  color: #FB3B64;
  line-height: 64px;
  margin-bottom: 5px;

}

.pricing__first-box{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #FB3B64;
  border-radius: 18px;
  @include tablet{
    width: 60%;
    height: 50%;
  }
  @include mobile{
    width: 70%;
    height: 50%;

  }
}

/* 04 --- second frame - proffesional*/


.pricing__second-box{
  margin: 0 59px 0 59px;
}

.pricing__second-box .count{
  text-align: left;
  font: normal normal 300 46px/2px $font-main-opensans;
  letter-spacing: 0px;
  color: #07ACE6;
  line-height: 70px;
  margin-bottom: 5px;
}

.pricing__second-box{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 27px #07ACE629;
  border: 1px solid #07ACE6;
  border-radius: 18px;
  width: 35%;
  height: 500px;
  @include tablet{
    width: 70%;
    height: 40%;
  }
  @include mobile{
    width: 90%;
    height: 40%;

  }
}

/* 04 --- third frame - premium*/

.pricing__third-box .count{
  text-align: left;
  font: normal normal 300 46px/2px $font-main-opensans;
  letter-spacing: 0px;
  color: #55DFB4;
  line-height: 64px;
  margin-bottom: 5px;
}

.pricing__third-box{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #55DFB4;
  border-radius: 18px;
  @include tablet{
    width: 60%;
    height: 40%;
  }
  @include mobile{
    width: 70%;
    height: 40%;

  }
}

.pricing__first-box .button__begin{
  position: absolute;
  transform: translateY(450%);
  background: #EB476E;
  border-radius: 23px;
  text-align: left;
  font: normal normal bold 13px/41px $font-main-opensans;
  letter-spacing: 0px;
  color: $color-white;
  border: none;

  @include mobile{
    transform: translateY(240%);
  }
  @include tablet{
    transform: translateY(240%);
  }
}

.pricing__second-box .button__begin{
  position: absolute;
  transform: translateY(500%);
  background: #07ACE6 0% 0% no-repeat padding-box;
  box-shadow: 3px 10px 14px $color-primary-shadow;
  //border: 1px solid #07ACE6;
  border-radius: 23px;
  font: normal normal bold 13px/41px $font-main-opensans;
  letter-spacing: 0px;
  color: $color-white;
  border: none;
  @include mobile{
    transform: translateY(240%);
  }
  @include tablet{
    transform: translateY(240%);
  }
}

.pricing__third-box .button__begin{
  position: absolute;
  transform: translateY(450%);
  background: #55DFB4 0% 0% no-repeat padding-box;
  border-radius: 23px;
  text-align: left;
  font: normal normal bold 13px/41px $font-main-opensans;
  letter-spacing: 0px;
  color: $color-white;
  border: none;
  @include mobile{
    transform: translateY(240%);
  }
  @include tablet{
    transform: translateY(240%);
  }
}

.pricing__header{
  @include tablet {
    width: 50%;
    margin-right: 5px;
  }
  @include mobile {
    width: 45%;
    margin-right: 15px;
  }
}


/* 04 --- checkmarks */
/* 04 --- first frame - basic*/

.count__details span{
  position: relative;
}

.pricing__first-box .count__details span:first-child:before,
.pricing__first-box .count__details span:nth-child(2):before,
.pricing__first-box .count__details span:nth-child(3):before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-image: url("../img/Checkmark-1.svg");
  background-repeat: no-repeat;
  transform: translateX(-150%) translateY(100%);
}

.pricing__first-box .count__details span:nth-child(4):before,
.pricing__first-box .count__details span:nth-child(5):before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-image: url("../img/Close.svg");
  background-repeat: no-repeat;
  transform: translateX(-150%) translateY(100%);
}

/* 04 --- checkmark */
/* 04 --- second frame - professional*/

.pricing__second-box .count__details span:nth-child(1):before,
.pricing__second-box .count__details span:nth-child(2):before,
.pricing__second-box .count__details span:nth-child(3):before,
.pricing__second-box .count__details span:nth-child(4):before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-image: url("../img/Checkmark-1.svg");
  background-repeat: no-repeat;
  transform: translateX(-150%) translateY(100%);
}

.pricing__second-box .count__details span:nth-child(5):before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-image: url("../img/Close.svg");
  background-repeat: no-repeat;
  transform: translateX(-150%) translateY(100%);
}

/* 04 --- checkmark */
/* 04 --- third frame - premium */

.pricing__third-box .count__details span::before{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-image: url("../img/Checkmark-1.svg");
  background-repeat: no-repeat;
  transform: translateX(-150%) translateY(100%);
}
